input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

p, h2{
    margin: 0;
    padding: 0;
}

.standart-border{
    border: 4px solid var(--standart-border-color);
    border-radius:var(--standart-elem-radius);
}

.standard-background{
    background: var(--standart-background);
    background-blend-mode: darken;
    box-shadow:
            400px
            -500px
            500px
            -500px
            rgba(51, 30, 36, 0.7) inset;
}
.std-input{
    color: white;
    background: rgba(255, 229, 180, .1);
    box-sizing: border-box;
    font-size: 30px;
    width: 100%;
    height: 100%;
    padding: 0 20px;
    margin: 0;
    outline: 0;
    transition: .3s;
}

.std-input:hover{
    transition: .3s;
    box-shadow: 0 -5px 20px -10px rgb(255, 200, 150) inset;
    background: rgba(255, 200, 150, .5);
}
input.std-input:focus{
    transition: .3s;
    box-shadow: 0 -5px 20px -10px rgb(255, 200, 150) inset;
    background: rgba(255, 200, 150, .3);
}

button.std-input:active{
    box-shadow: 0 -5px 20px -10px rgb(255, 200, 150) inset;
    background: rgba(255, 200, 150, 1);
}

.light-background{
    background: rgba(255, 200, 200, .05);
    box-shadow: 0 0 20px rgba(255, 200, 200, .1);
    background-blend-mode: screen;
}
h2{
    text-align: center;
}
.container{
    /*max-height: 800px;*/
    --standart-elem-radius: 20px;
    --standart-background: rgba(59, 33, 76, .7);
    --record-background: rgba(160, 120, 150, .5);
    --standart-border-color: rgba(255, 255, 255, 0.17);
    --elements-indent: 15px;
    --lot-menu-height: 500px;
    --chat-menu-height: 400px;

    margin: 150px auto;
    max-width: 1400px;
    display: flex;
    justify-content: space-between;
    gap: var(--elements-indent);
}

.tile-container{
    z-index: 1;
    padding: 50px;
}

