.login-container {
    background: linear-gradient(
        to Left top,
        #9a29679c,
        rgba(79, 53, 111, 0.713)
    );
    border-radius: 10px;
    box-shadow: rgba(32, 12, 30, 0.313) 0px 10px 15px 5px;
    border: 2px solid bisque;
    margin: auto;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: classic-container-apear 1s normal;
}
.login-container h2 {
    letter-spacing: 4px;
    font-size: 40px;
    user-select: none;
    margin-top: 30px;
    margin-bottom: 10px;
}