.lot-item-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: var(--elements-indent);
}
.lot-item-container {
    --standart-img-radius: 10px;
    display: flex;
    flex-direction: column;
    background-color: #1e1e1ed2;
    position: relative;
    overflow: hidden;
    border-radius: calc(var(--standart-img-radius) * 2);
}

.lot-item-container::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: calc(var(--standart-img-radius) * 2);
    padding: 5px;
    background: linear-gradient(
        to top,
        #FFFFFF,
        #7C2D5D
    );
    /*-webkit-mask:*/
    /*   linear-gradient(#fff 0 0) content-box,*/
    /*   linear-gradient(#fff 0 0);*/
    mask:
        linear-gradient(#fff 0 0)  content-box,
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
}
.lot-img-container {
    padding: 10px;
    position: relative;
}
.lot-img-container img {
    height: 100%;
    border-radius:calc(var(--standart-img-radius) * 1.3);
}
.lot-img-container .lot-price-container::-webkit-scrollbar {
    width: 0;
}
