
*{
    z-index: 2;
}
.container{
    --elements-indent: 20px;
    --standart-img-radius: 10px;
    --standart-background: rgba(59, 33, 76, 1);
    --standart-border-color: rgba(255, 255, 255, 0.17);
    margin: 5%  auto;
    width: 70%;
    border: 4px solid var(--standart-border-color);
    border-radius: 40px  40px 10px 10px;
    padding: 50px;
    height: 700px;
    background: var(--standart-background);
    box-shadow: 400px -500px 500px -500px rgba(51, 30, 36, 0.7) inset;
    /*overflow: hidden;*/
}
legend{
    background: rgba(59, 33, 50, 1);
    border: 4px solid var(--standart-border-color);;
    border-radius: var(--standart-img-radius);
    padding: 5px 20px;
    margin: 0 auto;
    text-align: center;
    font-size: 50px;

}
.wrapper{
    height: 100%;
    display: flex;
    justify-content: space-between;
}
.photos-carousel{

    border-radius: 0 0 var(--standart-img-radius)  var(--standart-img-radius);

    margin-top: -40px;
    position: relative;
    width: 400px;
    flex: 0 0 auto;
    /*max-height: 100px;*/
    overflow: scroll;
    scrollbar-width: none;
    text-align: center;
}


#top {
    --height: 200px;
    z-index: 255;
    position: sticky;
    margin-bottom: calc(var(--height) * -1);
    top:0;
    width:100%;
    height:var(--height);
    background:
            linear-gradient(180deg, rgba(59, 33, 76, 1) 30px,
                                    rgba(59, 33, 76, 0) 100%);

}

.reg-form{
    flex: 1 1 auto;
    padding: 0 var(--elements-indent);

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.photos-carousel img{
    width: 100%;
}
.photos-carousel img:after{
    content: "";
    position: absolute; top: 0; bottom: 0; left: -15px; right: -15px;
    box-shadow: inset white 0 -15px 10px;
}
.title{
    text-align: center;
}
.input{
    color: white;
    border: 3px solid var(--standart-border-color);
    box-sizing: border-box;
    /*box-shadow: 0 0 5px var(--standart-border-color), 0 0 0px var(--standart-border-color) inset;*/
    padding: calc(var(--elements-indent)/2);
    outline: none;
    background: rgba(87, 67, 79, .9);
    box-shadow: 0 -150px 200px -200px rgba(0, 0, 0, 0.2) inset;
    /*opacity: .5;*/
    border-radius: var(--standart-img-radius);
    margin-bottom: var(--elements-indent);
}
.title-input{
    width: 100%;
    font-size: 40px;
}
.bet-input{
    font-size: 20px;
    margin: 0 90px;
}
textarea{
    resize: none;
    flex: 1 1 auto;

    height: 200px;
    width: 100%;
    font-size: 20px;
}
.buttons{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    gap: var(--elements-indent)
}
.buttons button{
    flex: 0 1 50%;
    background: #FFE5B4;
    border: 3px solid var(--standart-border-color);;
    opacity: .7;
    border-radius: var(--standart-img-radius);
    font-size: 30px;
    height: 100%;
    transition: .3s;
    box-shadow: 0 0 10px gray;
}
.buttons button:hover{
    box-shadow: 0 0 10px #FFE5B4;
    opacity: 1;
    flex: 1 1 100%;
    transition: .3s;
}
.lot-item-wrapper:last-of-type{
    margin: 0;
}
