
.profile {
    --profile-size: 50px;
    background: linear-gradient(
        #3B0C1D,
        #571717
    );
    width: var(--profile-size);
    height: var(--profile-size);
    flex: 0 0 auto;
    border-radius: calc(var(--profile-size)/2);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    box-shadow:0 0 0 2px rgba(245, 245, 245, 0.413) inset;

    padding: 1px;
}
.profile :hover {
    border-width: 3px;
    transition: .5s;
    cursor: pointer;
}
.profile-img-container {
    height: 90%;
}